<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link href="/applications/pandoraf/templates/web/css/style.css" type="text/css" rel="stylesheet"/>
<link href="/applications/pandoraf/templates/web/images/slogo.png" rel="Shortcut Icon">
<script type="text/javascript" src="/applications/pandoraf/templates/web/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/applications/pandoraf/templates/web/js/account.js"></script>
<script type="text/javascript" src="/applications/pandoraf/templates/web/js/common.js"></script>
<script type="text/javascript" src="/applications/pandoraf/templates/web/js/shopcart.js"></script>
<script type="text/javascript" src="/applications/pandoraf/templates/web/js/product.js"></script>

