<html>
<head>
{include file='web/display/head.html'}
<title>product detail</title>
</head>
<body>
{include file='web/display/head/head.html'}
{include file='web/display/common/location.html'}
<div class="wrap">
	<div itemscope itemtype="http://schema.org/Product" class="goods_view">
		<div class="goods_photo">
			{include file='web/display/product_detail/view.html'}
		</div>
		<div class="goods_main">
			{include file='web/display/product_detail/detail.html'}
		</div>
	</div>
</div>
<div class="wrap">
     <div class="title_h3">
          <s></s>
          <h3>Description</h3>
     </div>    
          <div class="goods_detail">
               <div class="detail_left">
                    <div class="detail_content">
                         {include file='web/display/product_detail/description.html'}
                    </div>
               </div>
               <div class="detail_right">
               </div>
          </div>
</div>
{include file='web/display/product_detail/bottom.html'}
{include file='web/display/foot/foot.html'}
</body>
</html>