<html>
<head>
{include file='web/display/head.html'}
<title>shopcart</title>
</head>
<body>
{include file='web/display/head/shopcart_eyebow.html'}
<div class="wrap">
      <div class="cart_page_title">
            <h3 str=" "><i></i>cart title </h3>
      </div>
      {include file="web/display/shopcart/shipcountry.html"}
      <div class="cart_box">
            {foreach from=$blockList item=block}
            <div class="cart_main" id=" ">
               {foreach from=$block.areaList item=area}
                  {include file="web/display/shopcart/item.html"}
				  {include file="web/display/shopcart/shipping.html"}
			   {/foreach}  
            </div> 
            {/foreach}
            {include file="web/display/shopcart/option.html"}
      </div>
</div>
<div class="wrap">
      <div class="cart_bottom_box">
            {include file="web/display/shopcart/coupon.html"}
		    {include file="web/display/shopcart/amount.html"}
      </div>
</div>
<div class="wrap save_for_later"></div>
{include file='web/display/foot/foot.html'}
</body>
</html>